body {
	padding: 3%;
}

h1, h2, h3, h4 {
	color: #038EDF;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

a:link {
	color: #038EDF;
	text-decoration: none;
}

a:hover {
	color: #ff6f06;
	text-decoration: underline;
}

a:visited {
	color: #2A6283
}

.picture {
	max-width: 600px;
}

.global-nav ul {
	list-style: none;
	padding: 0;
}

.global-nav ul li {
	border: 1px solid #038EDF;
	display: inline-block;
	font-size: .8em;
	padding: 0.25em;
}

.moment-nav ul {
	list-style: none;
	padding: 0;
}

.moment-nav ul li {
	background-color: #f2f2f2;
	display: inline-block;
	font-size: .8em;
	padding: 0.25em;
	width: 80px;
	height: 50px;
	text-align: center;
	vertical-align: text-top;
}
