/*-- ---------------- --*/
/*-- WIREFRAME BASICS --*/
/*-- ---------------- --*/

body {
	margin: 0;
}

header#header {
  background-color: white;
	border-bottom: 1px solid lightgrey;
  height: 137px;
	padding: 0 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header#header h3 {
	margin: 0.25em 0;
}

h1, h2, h3, h4 {
	color: #038EDF;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

a:link {
	color: #038EDF;
	text-decoration: none;
}

a:hover {
	color: #ff6f06;
	text-decoration: underline;
}

a:visited {
	color: #2A6283
}

.picture {
	max-width: 600px;
}

.global-nav {
	margin-bottom: -14px;
}
@media screen and (min-width: 800px) { /* displays larger than 800px */
	.global-nav {
		margin-bottom: unset;
	}
}

.global-nav ul {
	list-style: none;
	padding: 0;
}

.global-nav ul li {
	border: 1px solid #038EDF;
	display: inline-block;
	font-size: .8em;
	padding: 0.25em;
}

nav.moment-nav {/* for mini-nav */
	width: 100%;
	overflow-x: scroll;
}

nav.moment-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

nav.moment-nav ul li {
	background-color: #f2f2f2;
	display: inline-block;
	font-size: .8em;
	padding: 0.25em;
	width: 80px;
	height: 50px;
	text-align: center;
	text-wrap: wrap;
	vertical-align: text-top;
}

/*-- ---------------- --*/
/*--   MOMENT BASICS  --*/
/*-- ---------------- --*/

/*-- Moment Title Frames --*/

.moment-title {
	height: 100vh;
	position: relative;
	text-align: center;
}

.title-community {
	background-image: url('http://lucy-proto.deerfield-ma.org/assets/moments/images/community/02-dawn-house-color.jpg');
}

.moment-title h1 {
	color: white;
	margin: 0 0 1em 0;
	text-shadow: 2px 2px 2px #333;
}

@media screen and (min-width: 800px) { /* displays larger than 800px */
	.moment-title h1 {
		margin: 0 0 1em 0;
		padding-top: 10%;
	}
}

.moment-title-intro {
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 2px 2px #333;
	font-size: 1.2em;
	margin: auto;
	opacity: 0.8;
	padding: 2em;
	width: 40vw;
}

.moment-title-intro p.story {
	font-style: italic;
}

nav.moment-options ul {
	list-style: none;
}

nav.moment-options ul li a:link {
	color: white;
}

nav.moment-options ul li a:visited {
	color: lightgrey;
}

nav.moment-options ul li a:hover {
	color: orange;
}

nav.moment-options ul li.prev-moment {
	left: 6px;
	position: absolute;
	top: 30%;
}

nav.moment-options ul li.next-moment {
	right: 6px;
	position: absolute;
	top: 30%;
}

nav.moment-options ul li.this-moment {
	position: absolute;
	bottom: 30vh;
	left: 50%;
}

/*-- Scrolling Moment Story Frames --*/

.moment-scroll {/* displays less than 800px */
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100vh - 138px);
	grid-gap: 0;
	margin-top: 138px;
	overflow: hidden;
	z-index: 1;
}

@media screen and (min-width: 800px) { /* displays larger than 800px */
	.moment-scroll {
		grid-template-columns: 75% 23%;/*why can't this be 25%? */
		grid-template-rows: calc(100vh - 138px);
	}
}
/* -------- */
/*  IMAGES  */
/* -------- */

/* for mobile */
@media screen and (max-width: 799px) { /* displays smaller than 800px */
	.image-panel {
		grid-column: 1;
		background-color: gray;/*need to fix this so it doesn't scroll away */
		position: relative;
	}
	.image-panel div.image-panel-outer-div {
		position: fixed;
	}
	.image-panel div.image-panel-outer-div div.image-panel-inner-div { /* displays smaller than 800px */
		position: absolute;
	}
	.image-panel div.image-panel-outer-div div.image-panel-inner-div img {
	  height: 50vh;
	  width: auto;
	}
}

/* for desktop */
@media screen and (min-width: 800px) { /* displays larger than 800px */
	/* put the images in the left/only column */
	.image-panel {
		grid-column: 1;
		background-color: black;
	}
	/* relative container to hold the inner div */
	.image-panel div.image-panel-outer-div {
		position: relative;
	}
	/* inner div lets images stack on top of each other */
	.image-panel div.image-panel-outer-div div.image-panel-inner-div { /* displays smaller than 800px */
		position: absolute;
	}
	.image-panel div.image-panel-outer-div div.image-panel-inner-div img {
		height: calc(100vh - 138px);
	  width: 100%;
	  object-fit: cover;
    object-position: center center;
	}
}

/* -------- */
/*   TEXT   */
/* -------- */

.moment-frames { /* displays less than 800px */
  grid-column: 1;
  margin: auto;
  width: 60vw;
  z-index: 10;
}

@media screen and (min-width: 800px) { /* displays larger than 800px */
	.moment-frames {
		background-color: yellow;
		grid-column: 2;		
		height: 100%;
		max-width: 100%;
		overflow: auto;
		padding: 1em;
	}
}

.moment-frames article.story {/* displays less than 800px */
  margin-bottom: 100px;
  background-color: pink;
  padding: 1em;
}
@media screen and (min-width: 800px) { /* displays larger than 800px */
	.moment-frames article.story {
	  margin-bottom: 100px;
	  background-color: transparent;
	  padding: 1em;
	}
}

article.story p {
/*	margin-bottom: 100px;*/
}

.image-panel aside.more {
	display: none;
}

/* poaching */
.dons-debug {
	margin-top: 250px;
	background-color: white;
	height: 80px;
	width: 25px;
	z-index: 99;
	position: absolute;
}

.dons-debug p {
	margin-left: 8px;
}
