{% extends "moments/moment_base.html" %}
{% load static %}
{% load settings_values %}

{% block page_title %}Community Within Community{% endblock %}

{% block moment %}

<!--
   <div class="title-panel">
    <h1>Community Within Community</h1>
    <p>Scroll down to begin...</p>
  </div>
-->
<section
  class="moment-scroll"
  x-data="{
    imageIndex: 0,
    scrollNumber: 0,
    panelHeight: window.innerHeight - 138,
    images: [
      '02-dawn-house-color',
      '03-candle-color',
      '04-house-cutaway-color',
      '05-lucy-hearth'
    ],
    isLoading: true,
    frames: [],
    layerTransX: 0,
    layerTransY: 0,
    smokeIndex: 1
  }"
  x-init="
    const response = await fetch('/moments/community-frames');
    frames = await response.json();
    isLoading = false;
  "
  @resize.window=" panelHeight = window.innerHeight - 138 "
  @scroll.window="
  scrollNumber = window.pageYOffset,
  // Adding panelHeight to scollNumber make quotient = 1 sooner
  imageIndex = Math.trunc((scrollNumber + panelHeight - 125)/(panelHeight))
  layerTransX = scrollNumber/4
  layerTransY = -scrollNumber/7
  smokeIndex = 1 + Math.trunc((scrollNumber - 135)/250)
  ">
  <div class="image-panel"> 
    <div class="image-panel-fixed"
      hx-target="#modal-container"
      hx-swap="outerHTML"    
    >

      <div class="image-panel-image" x-show="imageIndex === 0" 
        x-transition.opacity.duration.1000ms>
        <svg 
          viewBox="0 0 2000 1286" preserveAspectRatio="xMidYMid slice"
        >
          <image :href="`http://lucy-proto.deerfield-ma.org/assets/moments/images/community/${images[imageIndex]}.jpg`" 
          width="100%" height="100%" />

          <image class="image-layer" width="100%" height="100%" x="-100"
            :transform="`translate(${layerTransX} ${layerTransY})`"
            href="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/leaves-only.png" 
           />
            <g>
              <a hx-get="/moments/more">
                <rect x="925" y="810" width="175px" height="160px" 
                fill="#FEDA00" opacity=".3"></rect>
              </a>
            </g>
          </svg>
      </div> <!-- end image-panel-image -->

      <div class="image-panel-image" x-show="imageIndex === 1" 
        x-transition.opacity.duration.1000ms>
        <svg 
          viewBox="0 0 2000 1286" preserveAspectRatio="xMidYMid slice"
        >
          <image :href="`http://lucy-proto.deerfield-ma.org/assets/moments/images/community/${images[imageIndex]}.jpg`" 
          width="100%" height="100%" />
          <!-- leaves -->
          <image class="image-layer" width="100%" height="100%"  x="-100"
            :transform="`translate(${layerTransX} ${layerTransY})`"
            href="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/leaves-only.png" 
           />    
          <!-- smoke    -->
          <g x-show="smokeIndex === 1"
            x-transition.opacity.duration.2000ms>
            <image  width="463" height="313" 
            :transform="`translate(590 64)`"
            href="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/smoke1.png" 
           />   
          </g>
          <g x-show="smokeIndex === 2"
            x-transition.opacity.duration.2000ms>
            <image  width="427" height="293" 
            :transform="`translate(590 84)`"
            href="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/smoke2.png" 
            />   
          </g>
          <g x-show="smokeIndex === 3"
            x-transition.opacity.duration.2000ms>
            <image  width="568" height="362" 
            :transform="`translate(590 15)`"
            href="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/smoke3.png" 
            />   
          </g>


          <g>
            <a hx-get="/moments/more">
              <rect x="625" y="910" width="75px" height="160px" 
              fill="#FEDA00" opacity=".3"></rect>
            </a>
          </g>
        </svg>
      </div>

      <div class="image-panel-image" x-show="imageIndex === 2" 
        x-transition.opacity.duration.1000ms>
        <svg 
          viewBox="0 0 2000 1286" preserveAspectRatio="xMidYMid slice"
        >
          <image :href="`http://lucy-proto.deerfield-ma.org/assets/moments/images/community/${images[imageIndex]}.jpg`" 
          width="100%" height="100%" />

          <image class="image-layer" width="100%" height="100%"  x="-100"
            :transform="`translate(${layerTransX} ${layerTransY})`"
            href="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/leaves-only.png" 
           />

          <g>
            <a hx-get="/moments/more">
              <rect x="125" y="410" width="125px" height="100px" 
              fill="#FEDA00" opacity=".3"></rect>
            </a>
          </g>
        </svg>
      </div>

      <div class="image-panel-image" x-show="imageIndex === 3" 
        x-transition.opacity.duration.1000ms>
        <svg 
          viewBox="0 0 2000 1286" preserveAspectRatio="xMidYMid slice"
        >
          <image :href="`http://lucy-proto.deerfield-ma.org/assets/moments/images/community/${images[imageIndex]}.jpg`" 
          width="100%" height="100%" />
          <g>
            <a hx-get="/moments/more">
              <rect x="325" y="910" width="105px" height="60px" 
              fill="#FEDA00" opacity=".3"></rect>
            </a>
          </g>
        </svg>
      </div>


      <!-- Single dynamic more box -->
      <div class="more-container">
        <h4 class="more-tab">More</h4>
        <p><span x-text="smokeIndex"></span> | 
          <span x-text="scrollNumber"></span> |
          <span x-text="panelHeight"></span> |
          <span x-text="isLoading"></span> 
        </p>
        <h4>More</h4>
        <template x-if="!isLoading">
          <div> <!-- more links - single div required in template tag -->
            <template x-if="frames.community[imageIndex].moreWhoLinks.length > 0">
              <div> <!-- again, single div required in template tag -->
                <p>Who Else?</p>
                <ul >
                  <template x-for="link in frames.community[imageIndex].moreWhoLinks">
                    <li>
                      <a :hx-get="'/moments/more'"  x-text="link.title"
                        x-init="$nextTick(() => htmx.process($el))"></a>
                    </li>
                  </template>
                </ul>            
              </div>
            </template>           
            <template x-if="frames.community[imageIndex].moreTopicLinks.length > 0">
              <div>
                <p>Topics and Ideas</p>
                <ul>
                  <template x-for="link in frames.community[imageIndex].moreTopicLinks">
                    <li>
                      <a :hx-get="'/moments/more'" x-text="link.title"
                        x-init="$nextTick(() => htmx.process($el))"></a>
                    </li>
                  </template>
                </ul> 
              </div>
            </template>           
          </div>
        </template>
      </div>

    </div> <!-- /image-panel-outer-div -->
  </div><!-- /image-panel -->

  <div class="story-frames">

    <article class="story"
    hx-target="#modal-container"
    hx-swap="outerHTML"        
    >
      <p>Enter=0 Dark. In colonial New England, work days for enslaved people began long before daybreak — long before their enslavers
      got up to begin their own work days.
      <a hx-get="/moments/more"> |
        htmx
      </a>
    </p>      
    </article><!-- Frame1 : END -->

    <article class="story">
      <p>Enter=1 Candle. While Ebenezer and Abigail Wells continue to sleep in their comfortable bed downstairs, Lucy arises from her straw-filled mattress in the garret and lights a candle so that she can see to dress for the day.</p>
    </article><!-- Frame2 : END -->

    <article class="story">
      <p>Enter= 3 Cutaway. Cesar, sleeping on another garret mattress, also awakens and dresses. Lucy and Cesar slip quietly down the stairs to the kitchen.</p>
    </article><!-- Frame3 : END -->

    <article class="story">
      <p>Enter=3 B&W Hearth. There, Cesar builds a new fire on the embers remaining from the night before, while Lucy begins to prepare breakfast for the Wells. She and Cesar will eat later.</p>
    </article><!-- Frame4 : END -->

    <article class="story">
      <p>Lucy cracks several eggs and places a pot of baked beans at the front of the fire to reheat. She also hangs a pot of water over the fire to boil for tea and puts a jug of apple cider on the table. Finally, she sets out plates, cups, and tableware for the Wells.</p>
    </article><!-- Frame5 : END -->

    <article class="story">
      <p>Having renewed the fire, Cesar goes outside with a bucket of cracked corn to feed the chickens.</p>
    </article><!-- Frame6 : END -->

    <article class="story">
      <p>Night has fallen and Lucy continues to work, cleaning up the dinner dishes by candlelight. Cesar has returned from a day of work harvesting crops for a neighbor of the Wells — Ebenezer has rented out Cesar’s labor for cash.</p>
    </article><!-- Frame7 : END -->

    <article class="story">
      <p>Cesar stokes and banks the fire for the night and then prepares to go out, this time on an errand of his own. He plans to meet one of his friends for a walk — she is waiting for him in the yard behind the Wells house.</p>
    </article><!-- Frame8 : END -->
    
  </div><!--/story-frames-->

  <article class="total-more">
    <h2>The Necessity for Community</h2>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    <h3>Who Else?</h3>
    <ul>
      <li>This person</li>
      <li>That person</li>
      <li>Another person</li>
      <li>A fourth person</li>
    </ul>
    <h3>How Do We Know?</h3>
    <ul>
      <li>an artifact</li>
      <li>a document</li>
      <li>an artifact</li>
      <li>a document</li>
    </ul>
  </article> <!--/total-more -->

</section> <!--/moment-scroll-->

<div id="modal-overlay" class="hidden">
	<div 
    id="modal-container" class="modal-basic"
    hx-target="this">
      will be replaced
  </div>
</div>

<!-- <template x-if="!isLoading">
  <script defer src="{% static 'js/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/lucy.js' %}"></script>
</template> -->


{% endblock moment %}