from the Hurricane piece in the NYTimes. This sequence is repeated for each part of the picture

<div = outermost>
	<div = background>
		<div = bkg-item seq3-bkg parallax  svelte-1ns1xsx" style="translate: none; rotate: none; scale: none; transform: translate3d(0.536%, -0.1072%, 0px) scale(1.1, 1.1);">
			<div class="image-wrapper seq3-bkg parallax image svelte-8550uh" style="translate: none; rotate: none; scale: none; transform: translate3d(0.536%, -0.1072%, 0px);">
				<picture>
					<img>


------------
outermost:
	position: relative
    margin: 0;
    padding: 0;

-------------
background:
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;

---------------
bkg-item dynamic styles
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0.536%, -0.1072%, 0px) scale(1.1, 1.1);

.parallax.svelte-1ns1xsx
    transform: scale(1.1);
    transform-origin: center center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bkg-item.svelte-1ns1xsx
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

---------------
image-wrapper dynamic styles {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0.536%, -0.1072%, 0px);
}

.image-wrapper.svelte-8550uh.svelte-8550uh {
    white-space: normal;
    position: absolute;
    width: 100%;
    height: 100%;

---------------
img:

.image-wrapper.svelte-8550uh:not(.svg) img.svelte-8550uh {
    height: 100%;
    object-fit: cover;
}
.seq3-fg.svelte-8550uh img.svelte-8550uh {
    object-position: 70% bottom;
}
img.svelte-8550uh.svelte-8550uh {
    width: 100%;
    display: block;
    position: absolute;
}
img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;