{% extends "moments/moment_base.html" %}
{% load static %}
{% load settings_values %}


{% block moment %}

<section class="moment-title title-community">

  <h1>{% block page_title %}Community Within Community{% endblock %}</h1>

  <article class="moment-title-intro">
    <p class="story">Lucy and Abijah walk down main street. This is the story intro.</p>
    <p class="history">This is the historical intro</p>
  </article>

  <nav class="moment-options">
    <ul>
      <li class="prev-moment"><a href="#">Previous moment</a></li>
      <li class="this-moment"><a href="{% url 'moments:proof' %}">Explore this moment</a></li>
      <li class="next-moment"><a href="#">Next moment</a></li>
    </ul>
  </nav>

</section><!--/moment-title-->

{% endblock moment %}