{% extends "base.html" %}
{% load static %}

{% block sub_base %}
<header id="header">
    <h3><a href="{% url 'sitewide:home' %}">Lucy Terry Prince</a></h3>
	{% include "_main_nav.html" %}

</header>

<header>
    <nav class="moment-nav">
        <ul>
            <li><a href="#">Sold Out of Africa</a></li>
			<li><a href="#">For Sale Again</a></li>
			<li><a href="#">A Strange New Life</a></li>
			<li><a href="#">Enslaved at the Wells’ House</a></li>
			<li><a href="#">Joining the Church</a></li>
			<li><a href="#">Singer of History</a></li>
			<li><a href="#">Engaging With the Community</a></li>
			<li><a href="{% url 'moments:community_title' %}">Community Within Community</a></li>
			<li><a href="#">A Fruitful Union</a></li>
			<li><a href="#">Sons of the Revolution</a></li>
			<li><a href="#">Living on the Frontier</a></li>
			<li><a href="#">Fighting in Court</a></li>
			<li><a href="#">Returning to Deerfield</a></li>
		</ul>
	</nav>
</header>

<section >

	{% block moment %}

	moment goes here

	{% endblock moment %}
</section><!-- / -->

{% endblock sub_base %}
