{% extends "base.html" %}
{% load static %}

{% block sub_base %}
<header id="header">
    <h3><a href="{% url 'sitewide:home' %}">Lucy Terry Site</a></h3>
	{% include "_main_nav.html" %}

</header>

<header>
    <nav>
        <ul>
            <li><a href="#">Moment 1</a></li>
			<li><a href="{% url 'moments:community_title' %}">Comunity</a></li>
			<li><a href="#">Moment 3</a></li>
		</ul>
	</nav>
</header>

<section >

	{% block moment %}

	moment goes here

	{% endblock moment %}
</section><!-- / -->

{% endblock sub_base %}
