<div id="slimpop-container" class="slimpop-basic">
    <div id="slimpop-wrapper">

        <div class="slim-info">
            <p class="slimpop-close">        
              <a hx-target="#close-button" hx-swap="outerHTML">
                {% comment %} Need to find solution for hx-get {% endcomment %}
                <span 
                  id="close-button" 
                  class="close"    
                  hx-get="/moments/more" 
                  hx-trigger="click"
                  hx-swap="outerHTML"          
                  >
                  Close
                </span>
              </a>
            </p>
            
            <div class="slim-entry">
              <h4>More</h4>
              <p class="entry-text">Some text</p>
            </div>
        

          </div><!-- /slim-info -->
          

    </div><!--slimpop-wrapper -->
</div> <!-- slimpop-container -->