<div id="modal-container" class="modal-basic">
  <div id="modal-wrapper">

    <div>
      <a hx-target="#close-button" hx-swap="outerHTML">
        {% comment %} Need to find solution for hx-get {% endcomment %}
        <span 
          id="close-button" 
          class="close"    
          hx-get="/moments/more" 
          hx-trigger="click"
          hx-swap="outerHTML"          
          >
        </span>
      </a>
            
      <div class="more-content">
        <h4>More</h4>
        <p>Some text</p>
      </div><!-- /more-content -->

    </div><!-- / -->
          
  </div><!-- /modal-wrapper -->
</div> <!-- /#modal-container /.modal-basic -->