{% extends "basic_page.html" %}
{% load static %}
{% load settings_values %}

{% block page_title %}Special Moment{% endblock %}

{% block breadcrumbs %}
Moments
{% endblock %}

{% block content %}


<div class="caption-panel">
  <div class="title-panel">
    <h1>Enslaved at the Wells house.</h1>
    <p>Scroll down to begin...</p>
  </div>
  <div class="xyz">
    <p>In colonial New England, work days for enslaved people began long before daybreak — long before their enslavers
      got up to begin their own work days.</p>
  </div>
  <div class="xyz">
    <p>While Ebenezer and Abigail Wells continue to sleep in their comfortable bed downstairs, Lucy arises from her
      straw-filled mattress in the garret and lights a candle so that she can see to dress for the day.</p>
  </div>
  <div class="xyz">
    <p>Cesar, sleeping on another garret mattress, also awakens and dresses. Lucy and Cesar slip quietly down the stairs
      to the kitchen.</p>
  </div>
  <div class="xyz">
    <p>There, Cesar builds a new fire on the embers remaining from the night before, while Lucy begins to prepare
      breakfast for the Wells. She and Cesar will eat later.</p>
  </div>
  <div class="xyz">
    <p>Lucy cracks several eggs and places a pot of baked beans at the front of the fire to reheat. She also hangs a pot
      of water over the fire to boil for tea and puts a jug of apple cider on the table. Finally, she sets out plates,
      cups, and tableware for the Wells.</p>
  </div>
  <div class="xyz">
    <p>Having renewed the fire, Cesar goes outside with a bucket of cracked corn to feed the chickens.</p>
  </div>
  <div class="xyz">
    <p><strong>Note to viewers of this mockup:</strong><br>The narrative continues to follow the activities of Lucy,
      Cesar and the Wells through their day. For this partial mockup, we'll jump ahead to the end of the day…</p>
  </div>
  <div class="xyz">
    <p>Night has fallen and Lucy continues to work, cleaning up the dinner dishes by candlelight. Cesar has returned
      from a day of work harvesting crops for a neighbor of the Wells — Ebenezer has rented out Cesar’s labor for cash.
    </p>
  </div>
  <div class="xyz">
    <p>Cesar stokes and banks the fire for the night and then prepares to go out, this time on an errand of his own. He
      plans to meet one of his friends for a walk — she is waiting for him in the yard behind the Wells house.</p>
  </div>
  <div class="xyz">
    <p>She is a friend of Lucy's, too, and Lucy gives Cesar a package for her: a piece of cake and a dress Lucy mended
      for her. Lucy asks him to relay a message proposing that the two young women meet sometime the following day.</p>
  </div>
  <div class="xyz">
    <p>Lucy is eager to hear news about her friend and is happy that Cesar will have a chance for a visit, but she's
      also apprehensive and hopes they aren't seen by anyone who objects to their being out on their own at night.</p>
  </div>
  <div class="xyz">
    <p>As Cesar and his friend leave the Wells house, Lucy awaits his return, eager to hear news from other enslaved
      people and servants in their community.</p>
  </div>
</div>






{% endblock content %}