{% extends "moments/moment_base.html" %}
{% load static %}
{% load settings_values %}

{% block page_title %}Community Within Community{% endblock %}

{% block moment %}

<!--
   <div class="title-panel">
    <h1>Community Within Community</h1>
    <p>Scroll down to begin...</p>
  </div>
-->

  <div id="image-sequence-not-used-yet" class="image-panel"> 
    <div class="image-panel-outer-div">
      <div>
        <img src="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/02-dawn-house-color.jpg"/>
      </div>
  <!--<div>
        <img src="http://lucy-proto.deerfield-ma.org/assets/moments/images/community/03-candle-color.jpg"/>
      </div> -->
    </div><!-- /image-panel-outer-div -->
  </div><!-- /image-panel -->


  <div class="moment-frames">

    <div class="frame1">
      <article class="story">
        <p>In colonial New England, work days for enslaved people began long before daybreak — long before their enslavers
        got up to begin their own work days.</p>      
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame1 : END -->

    <div class="frame2">
      <article class="story">
        <p>While Ebenezer and Abigail Wells continue to sleep in their comfortable bed downstairs, Lucy arises from her straw-filled mattress in the garret and lights a candle so that she can see to dress for the day.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame2 : END -->

    <div class="frame3">
      <article class="story">
        <p>Cesar, sleeping on another garret mattress, also awakens and dresses. Lucy and Cesar slip quietly down the stairs to the kitchen.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame3 : END -->

    <div class="frame4">
      <article class="story">
        <p>There, Cesar builds a new fire on the embers remaining from the night before, while Lucy begins to prepare breakfast for the Wells. She and Cesar will eat later.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame4 : END -->

    <div class="frame5">
      <article class="story">
        <p>Lucy cracks several eggs and places a pot of baked beans at the front of the fire to reheat. She also hangs a pot of water over the fire to boil for tea and puts a jug of apple cider on the table. Finally, she sets out plates, cups, and tableware for the Wells.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame5 : END -->

    <div class="frame6">
      <article class="story">
        <p>Having renewed the fire, Cesar goes outside with a bucket of cracked corn to feed the chickens.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame6 : END -->

    <div class="frame7">
      <article class="story">
        <p>Night has fallen and Lucy continues to work, cleaning up the dinner dishes by candlelight. Cesar has returned from a day of work harvesting crops for a neighbor of the Wells — Ebenezer has rented out Cesar’s labor for cash.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame7 : END -->

    <div class="frame8">
      <article class="story">
        <p>Cesar stokes and banks the fire for the night and then prepares to go out, this time on an errand of his own. He plans to meet one of his friends for a walk — she is waiting for him in the yard behind the Wells house.</p>
      </article>

      <aside class="more">
        <h4>More</h4>
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </aside>
    </div><!-- Frame8 : END -->


{% endblock moment %}