{% load static %}
{% load settings_values %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/lucy.css' %}" type="text/css"  media="all"/>

    <title>Document</title>
</head>
<body>
    <h1 class="test">People</h1>
    <p>We are basically configured.
    <div >
        <img class="picture"
        src="{% asset_path %}people/images/bill-swire.jpg" alt="test portrait">
    </div>    
    <p>Bill Swire from PUR -- who looks like Justin Timberlake</p>
    <p>ASSET_PATH: {% asset_path %}</p>
    <p>image path: {% asset_path %}people/images/bill-swire.jpg</p>
    
    </p>

</body>
</html>