{% extends "base.html" %}
{% load static %}
{% load settings_values %}


{% block sub_base %}
  <h1>Lucy Terry Prince</h1>
  <ul>
      <li><a href="{% url 'moments:menu' %}">Moments</a></li>
      <li><a href="{% url 'people:menu' %}">Who Else?</a></li>
      <li><a href="{% url 'evidence:menu' %}">How Do We Know?</a></li>
      <li><a href="#">Topics &amp; Ideas</a></li>
      <li><a href="#">Where in the World?</a></li>
      <li><a href="#">Myths &amp; Assumptions</a></li>
  </ul>

{% endblock sub_base %}