{% extends "base.html" %}
{% load static %}

{% block sub_base %}
<header id="header">
    <h3><a href="{% url 'sitewide:home' %}">Lucy Terry Prince</a></h3>

	{% include "_main_nav.html" %}

	<h1>{% block page_title %} Title{% endblock %}</h1>
</header>

<section class="wrapper">
	<p class="breadcrumbs">
		{% block breadcrumbs %}

		{% endblock %}
	</p>
	{% block content %}

	Content goes here

	{% endblock %}
</section><!-- /wrapper -->

{% endblock sub_base %}

{% block slim_pop %}
{% endblock slim_pop %}
